:root{
    --color-yellow:#FDC80A;
    --color-blue-1:#1D1856;
    --color-blue-2:#32526E;
    --color-white:#ffffff;
    --color-orage:#ff9800;
}
body {
    background-color: var(--color-white);
} */
body {
            font-family: sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .login-container {
            background-color: var(--color-white);
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top:40px ;
        }
        .form-container{
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 30%;
        }
        .form-title {
            color: #333;
            margin-bottom: 20px;
            font-weight: 100;
            font-size: 20px;
        }
        .span-title{
            color: var(--color-blue-1);
            font-family: "Anton", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 25px;

        }
        .social-login {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .social-button {
            width: 48%;
            padding: 12px;
            border: none;
            border-radius: 5px;
            color: var(--color-white);
            font-weight: bold;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 7px;
        }

        .google-button {
            background-color: #4285f4;
        }

        .facebook-button {
            background-color: #3b5998;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group>label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="password"] {
            position: relative;
        }

        .password-toggle {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
        }

        input[type="checkbox"] {
            margin-right: 5px;
        }

        .login-button {
            background-color: var(--color-orage);
            color: var(--color-white);
            padding: 12px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.3s ease;
            width: 100%;
            
        }

        .login-button:hover {
            background-color: #f57c00;
        }

        .forgot-password {
            text-align: right;
            margin-bottom: 10px;
            font-size: 14px;
            color: #333;
        }

        .register-link {
            text-align: center;
            font-size: 14px;
            color: #333;
            margin-top: 30px;
        }

        .form-checkbox{
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 12px;
            font-weight: 200;
        }
        .form-item{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 10px;
        }
        .social-login-link{
            text-decoration: none;
            color: var(--color-orage);
        }
        .mascota{
            height: 500px;
        }